body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#cart {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

#cart:hover {
  color: #f0f0f0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.product {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.product:hover {
  transform: translateY(-5px);
}

.product-image {
  max-width: 50%; /* Adjust the image size here */
  height: auto;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-title {
  color: #333;
  font-size: 18px;
  margin: 10px 0;
}

.product-price {
  color: #555;
  font-weight: bold;
}

.add-to-cart {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #555;
}
